body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-image: url('https://i.pinimg.com/1200x/7a/32/83/7a32830bdcf1dc41e5245d6a944406a2.jpg');

header {
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: black;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

.page {
	min-height: var(--viewport-height);
}

.page-content {
	align-items: flex-start;
}

.hero {
    width: auto;
        margin: 0;
        padding: 0;
        height: 100vh;
        background: repeating-linear-gradient(
          45deg,
          #000000 0%,
          #2b2b2b 25%,
          #565656 50%,
          #808080 75%,
          #c0c0c0 100%
        );
        background: -webkit-linear-gradient(45deg, #000000 0%, #2b2b2b 25%, #565656 50%, #808080 75%, #c0c0c0 100%);
        background: -moz-linear-gradient(45deg, #000000 0%, #2b2b2b 25%, #565656 50%, #808080 75%, #c0c0c0 100%);
        background: linear-gradient(45deg, #000000 0%, #2b2b2b 25%, #565656 50%, #808080 75%, #c0c0c0 100%);

        background-size: 400% 400%;
        animation: gradientWave 5s ease infinite;
      }

      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        margin: 0;
      }

      @keyframes gradientWave {
        0% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
    }